@import "~bootstrap/scss/bootstrap";

*, ::before, ::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   /* background: #333; */
   height: 100vh;
   font-family: Arial, Helvetica, sans-serif;
}

#home {
   .card-body {
      display: grid;
   }
}

#line_new, #line_list, #line_edit, #category_new, #category_list, #category_edit {
   margin-top: 40px;

   header {
      height: 50px;
      margin-bottom: 30px;
      padding-top: 10px;

      .add {
         float: right;
         margin-right: 60px;
         cursor: pointer;

         a {
            color: #4ea88a;
         }
         

         svg {
            width: 40px;
            height: 40px;

            &.bi-pencil-fill {
               margin-top: -4px;
            }
         }
      }
   }
}