{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!
{% endblock %}

{% block body %}
	<section>
		<div class="container">
			<header>
				<h1>Compta</h1>
			</header>
			<section>
				<div class="row">
					<div class="col-4">
						<div class="card">
							<div class="card-header">Catégorie</div>
							<div class="card-body">
								<a href="{{path('category_new')}}">Ajouter une catégorie</a>
							</div>
						</div>
					</div>
                    <div class="col-4">
						<div class="card">
							<div class="card-header">Ligne bancaire</div>
							<div class="card-body">
								<a href="{{path('line_new')}}">Ajouter une entrée bancaire</a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</section>
{% endblock %}
